:root {
	/* colors */
	--color-text-color: #2B3944;
	--color-blue: #45be88; /*#0066FF*/
	--color-blue-light: #ceffe7; /*#CEE2FF*/
	--color-light-blue: #CEE2FF;
	--color-gray: #86939D;/*#86939D*/
	--color-white: #fff;
	--color-blue-background: #007329; /*#003BD2*/
	--color-blue-gradient: #37b2c8; /*#376AC8*/
}

@keyframes ballHover {
	0% {
		top: 0;
	}
	30% {
		top: 20px;
	}
	50% {
		top: 4px;
	}
	70% {
		top: 10px;
	}
	100% {
		top: 0;
	}
	
}

@keyframes predictionAppear {
	0% {
		background: var(--color-blue);
		opacity: 1;
	}
	99% {
		background: var(--color-blue);
		opacity: 1;
	}
	100% {
		background: var(--color-white);
		opacity: 0;
	}
}

@keyframes starDynamic {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	40% {
		transform: scale(0.6);
		opacity: 0.85;
	}
	60% {
		transform: scale(0.4);
		opacity: 0.7;
	}
	80% {
		transform: scale(0.6);
		opacity: 0.85;
	}
}

main,
.main {
	font-family: /*"Code Next",*/ sans-serif;
}

body.disable-scrolling {
	height: 100%;
	overflow: hidden;
}

h1,
.h1 {
	margin: 24px 0;
	font-weight: 600;
	font-size: 36px;
	line-height: 46px;
	color: var(--color-white);
	text-align: center;
}

.top {
	position: relative;
	background: linear-gradient(180deg, var(--color-blue-background) 0%, var(--color-blue-gradient) 100%);
	width: 100%;
	padding: 24px 0 0;
	overflow: hidden;
}

.top_container {
	flex-flow: column nowrap;
	align-items: center;
}

.logo {
	position: relative;
	z-index: 5;
	display: block;
	width: 213px;
	height: 40px;
}

.logo img {
	width: 100%;
	object-fit: contain;
}

.top_text {
	position: relative;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	line-height: 29px;
	color: var(--color-blue-light);
}

.top_text-item {
	position: absolute;
	width: 307px;
}

.top_text-item.item-1 {
	top: 40px;
	right: calc(50% + 110px);
	width: 269px;
}

.top_text-item.item-2 {
	top: 196px;
	left: 235px;
}

.top_text-item.item-3 {
	top: 381px;
	right: 235px;
	width: 205px;
}

.top_text-item.item-3::before {
	content: url("../img/big-star.svg");
	position: absolute;
	bottom: 74px;
	right: 100%;
	display: block;
	width: 35px;
	height: 35px;
}

.sky {
	/*position: fixed;*/
	/*inset: 0;*/
	/*width: 100vw;*/
	/*height: 100vh;*/
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/*pointer-events: auto;*/
	z-index: 0;
}

.star {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	/*background: url("../img/star.svg") no-repeat;*/
	width: 20px;
	height: 24px;
	/*color: rgba(255, 255, 255, 0.95);*/
	/*font-family: Georgia, serif;*/
	/*user-select: none;*/
	will-change: transform;
	/*animation: starDynamic 1s infinite ease-out;*/
}

.star svg {
	width: 100%;
	object-fit: contain;
}

.tree {
	position: relative;
	width: 454px;
}

.tree img {
	width: 100%;
	object-fit: contain;
}

.tree_text {
	/*position: absolute;*/
	/*bottom: 45px;*/
	/*left: 3px;*/
	width: 447px;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	line-height: 29px;
	text-align: center;
	color: var(--color-blue-light);
}

.scroll {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.scroll_heading {
	margin: 15px 0;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	color: var(--color-white);
}

.scroll_img {
	position: relative;
	width: 80px;
	height: 80px;
	margin: 0 0 60px;
}

.scroll_img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.scroll_img::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	height: 60px;
	width: 1px;
	background-color: var(--color-blue-light);
}

.border {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
	background-color: var(--color-blue-gradient);
	/*overflow: hidden;*/
}

.border::after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	width: 5326px;
	height: 5326px;
	border-radius: 100%;
	background-color: var(--color-white);
}

.border_info {
	width: 484px;
	z-index: 1;
	margin: 48px 0 24px;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	text-align: center;
	color: var(--color-blue);
}

@media (max-width: 1279px) {
	.top_text-item.item-1 {
		right: calc(50% + 128px);
	}

	.top_text-item.item-3 {
		right: 275px;
	}

	.top_text-item.item-3::before {
		bottom: 100%;
		left: 0;
	}

	.scroll_img {
		margin: 0 0 138px;
	}

	.scroll_img::after {
		height: 138px;
	}

	.border::after {
		width: 4206px;
		height: 4206px;
	}
}

@media (max-width: 1023px) {
	.top_text {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		width: 474px;
		margin: 0 0 40px;
	}

	.top_text-item {
		position: static;
		text-align: center;
	}

	.top_text-item + .top_text-item {
		margin: 16px 0 0;
	}

	.top_text-item.item-1,
	.top_text-item.item-2 {
		width: 100%;
	}

	.top_text-item.item-3 {
		width: 372px;
	}

	.top_text-item.item-3::before {
		display: none;
	}

	.scroll_img {
		margin: 0 0 60px;
	}

	.scroll_img::after {
		height: 60px;
	}
}

@media (max-width: 767px) {
	h1, .h1 {
		margin: 24px 0;
		font-size: 24px;
		line-height: 30px;
	}

	.top {
		padding: 24px 0 0;
	}

	.logo {
		width: 106px;
		height: 20px;
	}

	.top_text {
		width: 334px;
		font-size: 14px;
		line-height: 21px;
	}

	.top_text-item.item-3 {
		width: 100%;
	}

	.tree {
		height: 518px;
		width: 335px;
	}

	.tree_text {
		bottom: 30px;
		left: 10px;
		width: 316px;
		font-size: 14px;
		line-height: 21px;
	}

	.scroll_heading {
		font-size: 14px;
		line-height: 21px;
	}

	.scroll_img {
		width: 48px;
		height: 48px;
		margin: 0 0 40px;
	}

	.border::after {
		width: 1426px;
		height: 1426px;
	}

	.border_info {
		max-width: 268px;
		margin: 40px 0 16px;
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
	}
}

.bottom {
	background-color: var(--color-blue-gradient);
	overflow: hidden;
}

.bottom_container {
	position: relative;
	z-index: 1;
	flex-flow: column nowrap;
	align-items: center;
}

.christmas-toys {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100%;
}

.wires {
	position: relative;
	width: 924px;
}

.middle-wires {
	position: relative;
	display: flex;
	min-height: 32px;
}

.vertical-wire {
	width: 1px;
	background: var(--color-blue-light);
	/* background: var(--color-light-blue); */
}

.top-wires {
	position: relative;
	height: 64px;
}

.top-wires .vertical-wire {
	position: absolute;
	top: 0;
	left: 50%;
	height: 200%;
	transform: translateX(-50%);
}

.middle-wires > .round-wire--br,
.middle-wires > .round-wire--bl {
	margin: -31px 0 0;
}

.horizontal-wire {
	flex: 1 1 auto;
	height: 1px;
	background: var(--color-blue-light);
	/* background: var(--color-light-blue); */
}

.round-wire {
	position: relative;
	width: 32px;
	height: 32px;
}

.round-wire::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	/* border: 1px solid var(--color-blue-light); */
	border: 1px solid var(--color-light-blue);

}

.round-wire--tl::before {
	top: 0;
	left: 0;
	border-width: 1px 0 0 1px;
	border-radius: 32px 0 0 0;
}

.round-wire--tr::before {
	top: 0;
	right: 0;
	border-width: 1px 1px 0 0;
	border-radius: 0 32px 0 0;
}

.round-wire--bl::before {
	bottom: 0;
	left: 0;
	border-width: 0 0 1px 1px;
	border-radius: 0 0 0 32px;
}

.round-wire--br::before {
	bottom: 0;
	right: 0;
	border-width: 0 1px 1px 0;
	border-radius: 0 0 32px 0;
}

.side-wires {
	position: absolute;
	top: 64px;
	left: 50%;
	width: 468px;
	transform: translateX(-50%);
}

.side-wires .vertical-wire {
	height: 312px;
}

.side-wires-left {
	position: absolute;
	top: 0;
	left: 0;
}

.side-wires-right {
	position: absolute;
	top: 0;
	right: 0;
}

.side-wires-left .vertical-wire {
	margin: 0 auto 0 0;
}

.side-wires-right .vertical-wire {
	margin: 0 0 0 auto;
}

.christmas-toys_container {
	position: relative;
	max-width: 1230px;
	height: 716px;
	width: 100%;
}

.christmas-toy {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.christmas-toy::before {
	content: '';
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 0;
	display: block;
	width: 1px;
	height: 26px;
	background: var(--color-blue-light);
}

.christmas-toy_animation {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.christmas-toy_animation:hover {
	animation: ballHover 1s ease-in-out;
}

.christmas-toy_animation:has(.christmas-toy_ball-prediction.active):hover {
	animation: none;
}

.christmas-toy__position-2 {
	left: unset;
	right: calc(50% + 81px);
	top: calc(50% - 46px);
}

.christmas-toy__position-3 {
	left: 50%;
	transform: translate(-50%);
}

.christmas-toy__position-4 {
	left: calc(50% + 80px);
	top: calc(50% - 46px);
}

.christmas-toy__position-5 {
	right: 1px;
	left: unset;
}

.christmas-toy_top {
	position: relative;
	left: 50%;
	transform: translate(-50%);
	top: 0;
	z-index: 5;
	width: 95px;
	height: 82px;
}

.christmas-toy_top img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.christmas-toy_ball {
	position: relative;
	width: 306px;
	height: 306px;
	margin: -7px 0 0 0;
	border-radius: 100%;
	border: 2px solid var(--color-blue-light);
	overflow: hidden;
}

.christmas-toy_ball-choice {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	background-color: var(--color-blue);
}

.christmas-toy_ball-choice.hidden {
	animation: predictionAppear 0.6s ease-out ;
	opacity: 0;
}

.choice-text {
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	line-height: 29px;
	color: var(--color-white);
	text-align: center;
	text-transform: uppercase;
}

.christmas-toy_ball-prediction {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.christmas-toy_ball-prediction::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 0;
	height: 0;
	background: radial-gradient(50% 50% at 50% 50%, var(--color-white) 50%, var(--color-blue-light) 100%);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	transition: 0.5s ease-out;
}

.christmas-toy_ball-prediction.active {
	opacity: 1;
}

.christmas-toy_ball-prediction.active::before {
	width: 100%;
	height: 100%;
}

.prediction-icon {
	height: 100px;
}

.prediction-icon img {
	height: 100%;
	object-fit: contain;
}

.prediction-text {
	margin: 16px 0 0;
	font-weight: 600;
	font-style: italic;
	font-size: 24px;
	line-height: 35px;
	color: var(--color-blue);
	text-align: center;
	width: 200px;
}

.prediction-icon,
.prediction-text {
	position: relative;
	z-index: 2;
	opacity: 0;
	transition: 0.45s 0.15s;
}

.christmas-toy_ball-prediction.active .prediction-icon,
.christmas-toy_ball-prediction.active .prediction-text {
	opacity: 1;
}

.bottom_congrats {
	margin: 100px 0 0;
	font-weight: 600;
	font-size: 40px;
	line-height: 100%;
	color: var(--color-blue);
	text-align: center;
}

.footer {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin: 80px 0 50px;
	color: var(--color-text-color);
	text-align: center;
}

.footer_copyright {
	margin: 0 0 24px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
}

.footer_name {
	margin: 0 0 16px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.footer_logo {
	width: 177px;
	height: 33px;
}

.footer_logo img {
	width: 100%;
	object-fit: contain;
}

@media (max-width: 1599px) {
	.wires {
		width: 894px;
	}

}

@media (max-width: 1279px) {
	.wires {
		width: 654px;
	}

	.side-wires {
		width: 328px;
	}

	.christmas-toys_container {
		height: 700px;
	}

	.christmas-toy_top {
		height: 78px;
		width: 90px;
	}

	.christmas-toy__position-2 {
		right: calc(50% + 11px);
	}

	.christmas-toy__position-4 {
		left: calc(50% + 10px);
	}
}

@media (max-width: 1023px) {

	.wires {
		width: auto;
	}

	.top-wires .vertical-wire {
		height: 34px;
	}

	.middle-wires {
		width: 340px;
		margin: 0 auto;
	}

	.side-wires {
		width: 404px;
	}

	.side-wires-left .vertical-wire {
		height: 0;
	}

	.side-wires-right .vertical-wire {
		height: 206px;
	}

	.christmas-toys_container {
		height: 1128px;
	}

	.christmas-toy {
		left: 5px;
	}

	.christmas-toy_animation:hover {
		animation: none;
	}

	.christmas-toy__position-2 {
		left: unset;
		right: 6px;
		top: 188px;
	}

	.christmas-toy__position-3 {
		top: 376px;
		left: 7px;
		transform: none;
	}

	.christmas-toy__position-4 {
		left: unset;
		right: 6px;
		top: 564px;
	}

	.christmas-toy__position-5 {
		top: 752px;
		left: 7px;
		right: unset;
	}
}

@media (max-width: 767px) {
	.top-wires {
		height: 56px;
	}

	.top-wires .vertical-wire {
		height: 26px;
	}

	.middle-wires {
		width: 200px;
	}

	.side-wires {
		top: 56px;
		width: 262px;
	}

	.side-wires-right .vertical-wire {
		height: 102px;
	}

	.christmas-toys_container {
		height: 644px;
	}

	.christmas-toy {
		left: 0;
	}

	.christmas-toy__position-2 {
		left: unset;
		right: 1px;
		top: 100px;
	}

	.christmas-toy__position-3 {
		top: 214px;
	}

	.christmas-toy__position-4 {
		top: 314px;
		left: unset;
		right: 1px;
	}

	.christmas-toy__position-5 {
		top: 428px;
	}

	.christmas-toy_top {
		height: 45px;
		width: 52px;
	}

	.christmas-toy_ball {
		width: 178px;
		height: 178px;
	}

	.choice-text {
		font-size: 14px;
		line-height: 21px;
	}

	.prediction-icon {
		height: 55px;
	}

	.prediction-text {
		max-width: 172px;
		margin: 9px 0 0;
		font-size: 14px;
		line-height: 21px;
	}

	.bottom_congrats {
		margin: 40px 0 0;
		font-size: 24px;
		line-height: 35px;
	}

	.footer {
		margin: 60px 0 32px;
	}
}

@media (max-width: 479px) {
	.container {
		max-width: 360px;
	}

	.middle-wires {
		width: 108px;
	}

	.side-wires {
		width: 172px;
	}
}


